#canvas_1{
    background-color: aquamarine;
}
#canvas_2{
    background-color: aquamarine;
}
#canvas_3{
    background-color: aquamarine;
}
#canvas_4{
    background-color: aquamarine;
}
#canvas_5{
    background-color: aquamarine;
}
#canvas_6{
    background-color: aquamarine;
}
